*,
::before,
::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0px;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizespeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    font-size: 62.5%;
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 335px;
    border-radius: 25px;
    overflow: hidden;
    min-height: 34rem;
}

.card--dark {
    background-color: var(--dark-blue);
    padding: 20px 10px;
}

.rating-state__img {
    border-radius: 100%;
    padding: 10px;
    background-color: hsl(215deg 20% 23%);
    margin-left: 14px;
}

.rating-state__body {
    padding: 0px 15px;
}

.rating-state__title {
    color: var(--white);
    margin: 15px 0px;
    font-size: 2.5rem;
}

.rating-state__p {
    font-size: 1.45rem;
    color: var(--light-grey);
}

.rating-component {
    display: flex;
    gap: 6px;
    margin: 20px 0px;
    width: 100%;
    justify-content: center;
}

.rating-button::before {
    content: attr(data-number);
    text-align: center;
}

.rating-button {
    appearance: none;
    -webkit-appearance: none;
    background-color: hsl(215deg 20% 23%);
    border-radius: 50%;
    color: var(--light-grey);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.rating-state__submit {
    background-color: var(--orange);
    color: var(--white);
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px;
    text-transform: uppercase;
    cursor: pointer;
}


@keyframes changeColorActiveRating {
    from {
        background-color: var(--light-grey);
    }

    to {
        background-color: var(--orange);
    }
}

@keyframes changeColorHoverButton {
    from {
        background-color: var(--orange);
    }

    to {
        background-color: var(--white);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes clickAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.hide {
    display: none;
}

.rating-button.active {
    animation: changeColorActiveRating 0.3s ease-in-out, grow 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.rating-button:not(.active):hover {
    background-color: var(--light-grey);
}

.rating-button.active,
.rating-button:hover {
    color: var(--white);
}

.rating-state__submit:active {
    animation: clickAnimation 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.rating-state__submit:disabled{
    opacity: 0.4;
    pointer-events: none;
}

.rating-state__submit:hover {
    animation: changeColorHoverButton 0.2s ease-in;
    background-color: var(--white);
    color: var(--orange);
}

.rating-state__form {
    padding: 0px 18px;
}